html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main, canvas {
    width: 100vw;
    height: 110vh;
}

#logo img {
    position: absolute;
    
    width: 300px;
    /* left: 0;     */
    /* right: 0;        */
    /* margin-left: auto;       */
    /* margin-right: auto;      */
    opacity: 85%;

    top: 18px;
    left: -30px;
}

footer {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

footer a {
    font-size: 0.8em;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

