.searchbar-wrapper {
    top: 0.3em;
    right: 0.3em;
    position: absolute;
}

.searchbar-wrapper input[type=text] {
    border-radius: 8px;
    padding: 0.3em 0.6em 0.3em 2.0em;
    width: 10em;
    border: 0;
    border: none;
    background-color: rgba(150, 150, 150, 0.5);
    font-size: 0.8em;
    color: rgb(177, 177, 177);
    text-transform: uppercase;
}   

.searchbar-wrapper input[type=text]::placeholder {
    color: rgb(194, 194, 194);
}

.searchbar-wrapper input[type=text]:focus {
    outline: none;
}

.searchbar-wrapper .searchbar-icon {
    position: absolute;
    top: -0.95em;
    left: 0.6em;
    color: rgb(194, 194, 194);
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .searchbar-wrapper {
        top: 2em !important;
    }
  }