

.range-output, .range-info {
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: rgb(37, 37, 37);
}

.range-info {
  bottom: 30px;
}

.range {    
  transform: rotate(-90deg);
  bottom: 200px;
  left: -130px;
  position: absolute;
  width: 300px;
}

.range-slider {
  height: 5px;
  position: relative;
  background-color: rgba(15, 15, 15, 0.5);
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(59, 59, 59, 1);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(27, 27, 27, 1);
  background-color: rgba(27, 27, 27, 1);
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(206, 206, 206, 1);
  background-color: rgba(206, 206, 206, 1);
  pointer-events: auto;
  -moz-appearance: none;
}
