@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#gradient {
    background: #F83101;
    background: -webkit-linear-gradient(to right, #F83101 13%, #6630DF 86%, #574FE4 100%);
    background: -moz-linear-gradient(to right, #F83101 13%, #6630DF 86%, #574FE4 100%);
    background: linear-gradient(to right, #F83101 13%, #6630DF 86%, #574FE4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    width: 100%;
    max-height: 250px;
    object-fit: cover;

    filter: blur(1px);
    -webkit-filter: blur(1px);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}


#middle {
    padding: 3em 20% 5rem 20%;
}

#middle p, #middle h1, #middle h2 {
    color: black;
}

a, p, li {
    color: black;
    font-size: 1.3rem;
    text-align:justify;
    list-style: none;
}

.mail {
    text-decoration: none;
}

.linebox {
     display: inline-block;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.7em;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1.2em 0 0.5em 0;
}

.normal {
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    #middle {
        padding: 2em !important;
    }
}


@media only screen and (max-width: 500px) {
    
}

#logo img {
    position: absolute;
    
    width: 500px;
    left: 0;     
    right: 0;        
    margin-left: auto;       
    margin-right: auto;      
    top: 70px;
}

img {
    margin-bottom: 0.5em;
}